language: node_js

node_js:
  - "6.11.0"

branches:
  only:
  - master

before_script:
- npm install -g @angular/cli

script:
  - ng test

notification:
  email:
  on_failure: change
  on_success: change
